<launch>
        <node  ns="arduino_mega" name="mega" pkg="rosserial_python"  type="serial_node.py" args="/dev/mega" output="screen" />
           <node  ns="arduino_uno" name="uno" pkg="rosserial_python"  type="serial_node.py" args="/dev/uno" output="screen" />

</launch>
                                                                                                                                                                                                                                            
